<form action="/clients" method="POST">
  <div class="mt-5 mb-3">
    <label for="inputName" class="form-label">Nombre del cliente:</label>
    <input type="text" name="first_name" class="form-control" id="inputName" />
  </div>
  <div class="mb-3">
    <label for="inputLastName" class="form-label">Apellido del cliente</label>
    <input type="text" name="last_name" class="form-control" id="inputName" />
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email:</label>
    <input type="text" name="email" class="form-control" id="inputEmail" />
  </div>
  <div class="mb-3">
    <label for="inputPhone" class="form-label">Phone:</label>
    <input type="number" name="phone" class="form-control" id="inputPhone" />
  </div>
  <button type="submit" class="btn btn-primary mb-3">Guardar</button>
</form>
