<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header'); -%>
  <body>
    <div class="container mt-5">
      <h1>Tipos de cuentas</h1>
      <%- include('partials/account_types_form'); -%>
      <%-include('partials/account_types_table'); -%>
      <%-include('partials/footer'); -%>
    </div>
  </body>
</html>