<form action="/account_types" method="POST">
  <div class="mb-3">
    <label for="inputName" class="form-label">Account type:</label>
    <input type="text" name="name" class="form-control" id="inputName" />
  </div>
  <div class="mb-3">
    <label for="txtDescription" class="form-label">Description:</label>
    <textarea
      class="form-control"
      name="description"
      id="txtDescription"
      rows="3"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Add Account type</button>
</form>
