<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); -%>
  <body>
    <%- include('../partials/navbar'); -%>
    <!-- Background image -->
    <div
      class="bg-image d-flex justify-content-center align-items-center"
      style="
        background-image: url('https://images.pexels.com/photos/9660/business-money-pink-coins.jpg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=1400');
        height: 100vh;
      "
    >
      <h1 class="text-center">Bank System</h1>
    </div>
    <!-- Background image -->

    <%- include('../partials/footer'); -%>
  </body>
</html>
